<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上海</key>
	<dict>
		<key>浦东新区</key>
		<dict>
			<key>川沙</key>
			<string></string>
			<key>唐镇</key>
			<string></string>
			<key>张江</key>
			<string></string>
		</dict>
		<key>徐汇区</key>
		<dict/>
		<key>黄埔区</key>
		<dict/>
	</dict>
	<key>北京</key>
	<dict/>
</dict>
</plist>
